
*:after,*:before {
	box-sizing: border-box;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-size: 17px;
	font-weight: 17px;
	font-family: 'Rubik', sans-serif !important;
	background: #fff;
}

.navbar,footer {
	background: var(--bs-gray-900) !important;
}

.block {
	background: #fff;
	box-shadow: var(--bs-box-shadow);
	border-radius: 15px;
	margin: 15px 0px;
	padding: 20px;
}

.tool-box label{
	font-size: 16px;
	font-weight: bold;
}

.message {
	max-width: 640px;
	margin: auto;
}

.tool-box {
	height: 100%;
	background: url("../../static/images/wave.svg?2") no-repeat;
	background-size: cover;
	background-position: center;
}

.features-card {
	padding: 10px;
  border: 2px dashed #65B741;
	background: none;
	margin-bottom: 30px;
	box-shadow: var(--bs-box-shadow-sm);
	border-radius: var(--bs-border-radius-lg);
	text-align: center;
}

.features-card-icon {
	position: relative;
	margin: auto;
	margin-top: -41px;
	margin-bottom: 15px;
	padding: 0px;
	width: 60px;
	border-radius: var(--bs-border-radius-sm);
	background: #65B741;
	border: 1px solid #65B741;
	color: #fff !important;
	box-shadow: 10px 10px 0px 1px #C1F2B0;
	transition: all 0.2s;
}

.features-card-icon i {
	padding: 10px;
	font-size: 40px;
}

.features-card:hover .features-card-icon {
	box-shadow: -10px 10px 0px 1px #C1F2B0;
}

.features-card-content h3 {
	color: #65B741;
}

.features-card-content p {
	color: var(--bs-light);
}

.sticky-bottom {
	position: fixed;
	max-width: 728px;
	height: 90px;
	bottom: 0;
	background: none;
	transform: translate(calc(50vw - 50%));
}

.ads {
	width: 728px;
	height: 90px;
	margin: auto;
	margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
	
	.sticky-bottom {
		width: 468px !important;
		height: 60px !important;
		transform: none;
	}
	
	.ads {
		width: 468px !important;
		height: 60px !important;
	}
	
}

@media screen and (max-width: 640px) {
	
	.sticky-bottom {
		width: 468px !important;
		height: 60px !important;
		transform: none;
	}
	
	.ads {
		width: 468px !important;
		height: 60px !important;
	}
	
}

@media screen and (max-width: 500px) {
	
	.sticky-bottom {
		width: 300px !important;
		height: 50px !important;
		transform: none;
	}
	
	.ads {
		width: 300px !important;
		height: 50px !important;
	}
	
}
