
*:after,*:before {
	box-sizing: border-box;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-size: 17px;
	font-weight: 17px;
	font-family: 'Open Sans', sans-serif !important;
	background: #fff;
}

.navbar,footer {
	background: var(--bs-gray-900) !important;
}

.block {
	background: #fff;
	box-shadow: var(--bs-box-shadow);
	border-radius: 15px;
	margin: 15px 0px;
	padding: 20px;
}

.ad-placeholder {
	font-size: 13px !important;
	margin-bottom: 5px;
}

.ads {
	max-width: 735px;
	margin: auto;
	text-align: center;
}


@media screen and (max-width: 640px)
{

	
}


.tool-box label{
	font-size: 16px;
	font-weight: bold;
}

.message {
	max-width: 640px;
	margin: auto;
}

.tool-box {
	height: 100%;
	background: url("../../static/images/wave.svg?2") no-repeat;
	background-size: cover;
	background-position: center;
}
